html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* css reset end */


*, *::before, *::after {
  box-sizing: border-box;
}

html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif
}

body{
  font-size: 16px;
  line-height: 1.5; 
  /* 初始值 16*1.5 = 24px */
}

img {
  max-width: 100%;
  height: auto;
  display:block;
}

a{
  text-decoration: none;
  color: inherit;
}

.display-in-block{
  display: inline-block;
}

/* bg-cover */
.bg-cover{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-contain{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* container */
.container{
  max-width: 1100px; 
  margin: 0 auto;
}
.container-inner{
  width: 75%;
}

@media (max-width:992px){
    .container{
      max-width: 672px;
      width:100%;
      margin: 0 auto;
    }
}
@media (max-width:414px){
  .container{
    max-width: 100%; //352px;
    width:100%;
    margin: 0 auto;
  }
}

/* from */
.label-wrap{
  width: 100%;
  margin: 0 auto;
}
.label-contact-group{
  margin-bottom: 16px;
}
input[type="text"], textarea{
  width: 100%;
  border: 1px solid #000;
  background: transparent;
  margin-top: 4px;
  padding: 14px 16px;
}
::placeholder, input[type="submit"], label{
  font-size: 16px;
  line-height: 24px;
}
label input[type="checkbox"]  {
  display: inline-block;
  cursor: pointer;
  margin-right: 4px;
}
.submit{
  margin-top: 40px;
  text-align: center;
}
input[type="submit"]{
  cursor: pointer;
  background: #AA0601;
  color: #fff;
  padding: 16px 58px;
  border: 1px solid #AA0601;
  width: 350px;
  @media (max-width:992px){
    width: 100%;
  }
}
input[type="submit"]:hover{
  background: #650300;
}

/* m-* p-* */
.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 48px;
}

.mb-7 {
  margin-bottom: 56px;
}

.mb-8 {
  margin-bottom: 64px;
}

.mb-9 {
  margin-bottom: 72px;
}
/* mr */
.mr-1 {
  margin-right: 8px;
}

.mr-2 {
  margin-right: 16px;
}

.mr-3 {
  margin-right: 24px;
}

.mr-4 {
  margin-right: 32px;
}

.mr-5 {
  margin-right: 40px;
}

.mr-6 {
  margin-right: 48px;
}

.mr-7 {
  margin-right: 56px;
}

.mr-8 {
  margin-right: 64px;
}

.mr-9 {
  margin-bottom: 72px;
}

/* position */
.position-r{
  position: relative;
}
/* displayflex */
.d-flex {
  display: flex;
}
.d-flex-row {
  flex-direction: row;
}
.d-flex-row-reverse{
  flex-direction: row-reverse;
}
.d-flex-col {
  flex-direction: column;
}
.d-flex-col-reverse {
  flex-direction: column-reverse;
}
.d-flex-wrap{
  flex-wrap: wrap;
}
.d-flex-nowrap{
  flex-wrap: nowrap;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.jc-fs {
  justify-content: flex-start;
}
.jc-fe{
  justify-content: flex-end;
}
.jc-c{
  justify-content: center;
}
.ai-c {
  align-items: center;
}

.ai-fs{
  align-items: flex-start;
}
.ai-fe{
  align-items: flex-end;
}

/* font-align */
.font-align-c {
  text-align: center;
}

.font-align-left {
  text-align: left;
}

.font-align-right {
  text-align: right;
}


@media screen and (max-width: 1200px) {
  .d-flex-row-lg {
      flex-direction: row;
  }
  .d-flex-row-reverse-lg{
      flex-direction: row-reverse;
  }
  .d-flex-col-lg {
      flex-direction: column;
  }
  .d-flex-col-reverse-lg {
      flex-direction: column-reverse;
  }
  .d-flex-wrap-lg{
    flex-wrap: wrap;
  }
  .d-flex-nowrap-lg{
    flex-wrap: nowrap;
  }

}
@media screen and (max-width: 992px) {
  .d-flex-row-md {
      flex-direction: row;
  }
  .d-flex-row-reverse-md{
      flex-direction: row-reverse;
  }
  .d-flex-col-md {
      flex-direction: column;
  }
  .d-flex-col-reverse-md {
      flex-direction: column-reverse;
  }
  .d-flex-wrap-md{
    flex-wrap: wrap;
  }
  .d-flex-nowrap-md{
    flex-wrap: nowrap;
  }

}
@media screen and (max-width: 768px) {
  .d-flex-row-sm {
      flex-direction: row;
  }
  .d-flex-row-reverse-sm{
      flex-direction: row-reverse;
  }
  .d-flex-col-sm {
      flex-direction: column;
  }
  .d-flex-col-reverse-sm {
      flex-direction: column-reverse;
  }
  .d-flex-wrap-sm{
    flex-wrap: wrap;
  }
  .d-flex-nowrap-sm{
    flex-wrap: nowrap;
  }

}